*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body
{
    margin: 0;
    padding: 0;
    background-color: #ecd4c6;
}

.main-container
{
    width: 100%;
    padding: 2rem;
    margin: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

button.formulario-button
{
    border: 2px;
    background-color: #84b09b;
    color: #27242a;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.8rem;
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(126, 126, 126, 0.24) 0 1px 2px rgba(0, 0, 0, 0.57);
}

input.formulario-input
{
    border: 2px;
    background-color: #f4e7d5;
    color: #27242a;
    border-color: #27242a;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.8rem;
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(126, 126, 126, 0.24) 0 1px 2px rgba(0, 0, 0, 0.57);
}

input.formulario-button
{
    border: 2px;
    background-color: #84b09b;
    color: #27242a;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.8rem;
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(126, 126, 126, 0.24) 0 1px 2px rgba(0, 0, 0, 0.57);
}

